// actions
.action-header {
    text-align: center !important;
}

.action-cell {
    text-align: center;
}

// spinner
.spinner-center {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// mat-dialog
.mat-dialog-container {
    padding: 0 !important;
}

.dialog-title {
    color: white;
}

// mat-drawer
.mat-drawer-container {
    height: 100%
}

.mat-drawer {
    width: 150px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #2b2b2b; 
}

.mat-drawer-content{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #121212; 
}