.mat-form-overview {
    display:inline-block;
    width:100%;
    padding-bottom: 0px;
}

.error {
    margin-bottom: 5px;
    line-break: anywhere;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding: 0;
}